<%= stylesheet_link_tag "sign_form", :media => "all" %>
<% @user = User.new unless @user %>
<div class="container-fluid bg-light sign_form_main">
    <div class="row">
        <div class="col-12 mt-5 pt-3 text-center">
            <h>新規登録する</h>
        </div>
        <div class="col-12 mt-5">
            <div class="row">
                <%= form_for @user, :html => {:class => "col-12"}, url: user_create_path do |form| %>
                    <div class="row mr-3">
                        <div class="col-5 text-center p-0">
                            <p>ユーザー名</p>
                        </div>
                        <div class="col-7 p-0">
                            <%= form.text_field :user_name, id: :user_name %>
                        </div>
                    </div>
                    <div class="row mr-3">
                        <div class="col-5 text-center p-0">
                            <p>メールアドレス</p>
                        </div>
                        <div class="col-7 p-0">
                            <%= form.email_field :email, id: :user_email %>
                        </div>
                    </div>
                 
                    <div class="row mr-3">
                        <div class="col-5 text-center p-0">
                            <p>パスワード</p>
                        </div>
                        <div class="col-7 p-0">
                            <%= form.password_field :password, id: :password %>
                        </div>
                    </div>
                 
                 
                  <div class="actions row mt-4">
                        <div class="col-4 mx-auto">
                            <%= form.submit %>
                        </div>
                  </div>
                <% end %>
                
            </div>   
        </div>
        
    </div>
</div>
