<div class="container-fluid">
      <div class="row">
            <%= form_for @gym, html: {class: 'col-12 px-1'} do |f| %>
                  <div class="row">
                        <%= f.label :gym_name, {class: 'col-4'} %>
                        <%= f.text_field :gym_name, {class: 'col-8 p-1'} %>
                  </div>
                  <div class="row">
                        <%= f.label :place, {class: 'col-4'} %>
                        <%= f.text_field :place, {class: 'col-8 p-1'} %>
                  </div>
                  <div class="row">
                        <%= f.label :access, {class: 'col-4'} %>
                        <%= f.text_field :access, {class: 'col-8 p-1'} %>
                  </div>
                  <div class="row">
                        <%= f.label :admission, {class: 'col-4'} %>
                        <%= f.text_field :admission, {class: 'col-8 p-1'} %>
                  </div>
                  <div class="row">
                        <%= f.label :rent_fee, {class: 'col-4'} %>
                        <%= f.text_field :rent_fee, {class: 'col-8 p-1'} %>
                  </div>
                  <div class="row">
                        <%= f.label :open_time, {class: 'col-4'} %>
                        <%= f.text_field :open_time, {class: 'col-8 p-1'} %>
                  </div>
                  <div class="row">
                        <%= f.label :begginer_wall, {class: 'col-4'} %>
                        <%= f.text_field :begginer_wall, {class: 'col-8 p-1'} %>
                  </div>
                  <div class="row">
                        <%= f.label :wall_num, {class: 'col-4'} %>
                        <%= f.text_field :wall_num, {class: 'col-8 p-1'} %>
                  </div>
                  <div class="row">
                        <%= f.label :weekly_problems, {class: 'col-4'} %>
                        <%= f.text_field :weekly_problems, {class: 'col-8 p-1'} %>
                  </div>
                  <div class="row">
                        <%= f.label :training_space, {class: 'col-4'} %>
                        <%= f.text_field :training_space, {class: 'col-8 p-1'} %>
                  </div>
                  <div class="row">
                        <%= f.label :rules, {class: 'col-4'} %>
                        <%= f.text_field :rules, {class: 'col-8 p-1'} %>
                  </div>
                  <div class="row">
                        <%= f.label :store, {class: 'col-4'} %>
                        <%= f.text_field :store, {class: 'col-8 p-1'} %>
                  </div>
                  <div class="row">
                        <%= f.label :free_wifi, {class: 'col-4'} %>
                        <%= f.text_field :free_wifi, {class: 'col-8 p-1'} %>
                  </div>
                  <div class="row">
                        <%= f.label :others, {class: 'col-4'} %>
                        <%= f.text_field :others, {class: 'col-8 p-1'} %>
                  </div>
                  <%= f.submit "修正する"%>
            <% end %>
      </div>
</div>