<%= stylesheet_link_tag "compiled/gyms", :media => "all" %>
<div class="container-fluid">
    <div class="row top-back">
        <div class="col-8">
			<h3 class="gym-name"><span class="border-bottom"><%= @gym.gym_name%></span></h3>
            <p class="previous-hold-change mb-0 text-center">前回のホールド替え</p>
            <p class="previous-hold-change mb-0 text-center"><%=@gym.last_time_changing_holds%></p>
            <p class="last-hold-change mb-0 text-center">次回のホールド替え</p>
            <p class="last-hold-change text-center"><%=@gym.next_time_changing_holds%></p>
        </div>
        <div class="col-4 pl-0 pt-3">
        <%if HomeGym.find_by(user_id: current_user.id)%>
            <%= link_to "ホームジム登録を削除する", gym_home_path(gym_id: @gym.id), method: :delete%>
        <% else %>
            <%=link_to "ホームジムにする", gym_home_path(gym_id: @gym.id), method: :post%>
        <%end%>
        </div>
    </div>
    <div class="row f_2_info border-top border-bottom border-white bg-light">
        <div class="text-center col-2 pr-0 pt-1">
            <p class="mb-0 overall_score">総合評価:<%= @overall_score %>点<!--gym.overall_score--></p>
            <p class="mb-0">
                <%= @overall_score_rank %>位/<%=@gyms.length%>店舗中
            </p>
        </div>
        <div class="text-center col-2 pr-0 pt-1">
            <p class="mb-0 overall_score">課題の質:<%= @problems_quality %>点<!--gym.overall_score--></p>
            <p class="mb-0"><%= @overall_problems_quality_rank %>位/<%= @gyms.length %>店舗中</p>
        </div>
        <div class="text-center col-2 pr-0 pt-1">
            <p class="mb-0 overall_score">コスパ:<%= @cost_par_fee %>点<!--gym.overall_score--></p>
            <p class="mb-0"><%= @overall_cost_par_fee_rank %>位/<%= @gyms.length %>店舗中</p>
        </div>
        <div class="text-center col-2 pr-0 pt-1">
            <p class="mb-0 overall_score">居心地:<%= @comfortableness %>点<!--gym.overall_score--></p>
            <p class="mb-0"><%= @overall_comfortableness_rank %>位/<%= @gyms.length %>店舗中</p>
        </div>
        <div class="text-center col-2 pr-0 pt-1">
            <p class="mb-0 overall_score">接客:<%= @service %>点<!--gym.overall_score--></p>
            <p class="mb-0"><%= @overall_service_rank %>位/<%= @gyms.length %>店舗中</p>
        </div>
        <div class="text-center col-2 pr-0 pt-1">
            <% if GymReview.find_by(gym_id: @gym.id, user_id: current_user.id)%>
                <%=link_to "このジムの評価を変更する", edit_gym_review_path(gym_id: @gym.id)%>
            <% else%>
                <%=link_to "このジムを評価する", new_gym_review_path(gym_id: @gym.id)%>
            <% end %>
        </div>
        <div class="col-5 text-center pl-0 pt-1">
            <p class="mb-0">ホームジム人数:<%= @home_gym.length %>人</p>
            <p class="mb-0">固定課題数:<%= @gym.problem_num %></p>
        </div>
        <div class="col-2 text-center p-0 pt-2">
            <% if GymLike.find_by(user_id: current_user.id, gym_id: @gym.id)%>
                <%=link_to gym_gym_like_path(gym_id: @gym.id), method: :delete do %>
                    <i>👍</i>
                    <%= @gym_likes.length %>
                <% end %>
            <% else %>
                <%=link_to gym_gym_like_path(gym_id: @gym.id), method: :post do %>
                    <i>👍</i>
                    <% if @gym_likes %>
                        <%= @gym_likes.length %>
                    <% end %>
                <% end %>
            <% end %>
        </div>
    </div>
    <div class="row">
        <div class="col-8">
            <h2>口コミを投稿する</h2>
        </div>
        <div class="col-4">
            <%= link_to("口コミを投稿する", new_gym_post_path(@gym) )%>
        </div>
        <% @posts.each do |post|%>
            <div class="col-12 py-2 border-top border-bottom">
                <%= post.overall_caption %>
                <%= post.user.email%>
                <% if PostLike.find_by(user_id: current_user.id, post_id: post.id) %>
                    <%=link_to gym_post_post_likes_path(post_id: post.id, gym_id: @gym.id), :method => :delete do %>
                        <i>♡</i>
                        <%= PostLike.where(post_id: post.id).length %>
                    <% end %>
                <% else %>
                    <%=link_to gym_post_post_likes_path(post_id: post.id, gym_id: @gym.id), :method => :post do %>
                        <i>♡</i>
                        <%= PostLike.where(post_id: post.id).length %>
                    <% end %>
                <% end %>
            </div>
        <% end %>
    </div>
    <div>
        <div class="row">
            <div class="col-8">
                <h1>詳細情報</h1>
            </div>
            <div class="col-4">
                <p><%=link_to("編集する", "/gyms/#{@gym.id}/edit")%></p>
            </div>
        </div>
        <div class="row border-bottom border-top">
            <div class="col-4 bg-light border-right">
                <p>店舗名</p>
            </div>
            <div class="col-8">
                <p><%=@gym.gym_name %></p>
            </div>
        </div>
        <div class="row border-bottom">
            <div class="col-4 bg-light border-right">
                <p>住所</p>
            </div>
            <div class="col-8">
                <p><%=@gym.place %></p>
            </div>
        </div>
        <div class="row border-bottom">
            <div class="col-4 bg-light border-right">
                <p>アクセス</p>
            </div>
            <div class="col-8">
                <p><%=@gym.access %></p>
            </div>
        </div>
        <div class="row border-bottom">
            <div class="col-4 bg-light border-right">
                <p>料金</p>
            </div>
            <div class="col-8">
                <p><%=@gym.admission %></p>
            </div>
        </div>
        <div class="row border-bottom">
            <div class="col-4 bg-light border-right">
                <p>レンタル料金</p>
            </div>
            <div class="col-8">
                <p><%=@gym.rent_fee %></p>
            </div>
        </div>
        <div class="row border-bottom">
            <div class="col-4 bg-light border-right">
                <p>営業時間</p>
            </div>
            <div class="col-8">
                <p><%=@gym.open_time %></p>
            </div>
        </div>
        <div class="row border-bottom">
            <div class="col-4 bg-light border-right">
                <p>初心者用ウォールの有無</p>
            </div>
            <div class="col-8">
                <p><%=@gym.begginer_wall %></p>
            </div>
        </div>
    </div>
    <div>
        <div class="row">
            <div class="col-12">
                <h1>詳細情報</h1>
            </div>
        </div>
        <div class="row border-bottom border-top">
            <div class="col-4 bg-light border-right">
                <p>固定課題数</p>
            </div>
            <div class="col-8">
                <p><%=@gym.problem_num %></p>
            </div>
        </div>
        <div class="row border-bottom">
            <div class="col-4 bg-light border-right">
                <p>壁の枚数</p>
            </div>
            <div class="col-8">
                <p><%=@gym.about_wall %></p>
            </div>
        </div>
            <div class="row border-bottom">
            <div class="col-4 bg-light border-right">
                <p>ウィークリー課題の有無について</p>
            </div>
            <div class="col-8">
                <p><%=@gym.weekly_problems %></p>
            </div>
        </div>
        <div class="row border-bottom">
            <div class="col-4 bg-light border-right">
                <p>個別ルール</p>
            </div>
            <div class="col-8">
                <p><%=@gym.rules %></p>
            </div>
        </div>
        <div class="row border-bottom">
            <div class="col-4 bg-light border-right">
                <p>トレーニング器具について</p>
            </div>
            <div class="col-8">
                <p><%=@gym.training_space %></p>
            </div>
        </div>
        <div class="row border-bottom">
            <div class="col-4 bg-light border-right">
                <p>ホールド替えの周期</p>
            </div>
            <div class="col-8">
                <p><%=@gym.frequency_of_change_holds %></p>
            </div>
        </div>
        <div class="row border-bottom">
            <div class="col-4 bg-light border-right">
                <p>物販</p>
            </div>
            <div class="col-8">
                <p><%=@gym.store %></p>
            </div>
        </div>
        <div class="row border-bottom">
            <div class="col-4 bg-light border-right">
                <p>free wifi</p>
            </div>
            <div class="col-8">
                <p><%=@gym.free_wifi %></p>
            </div>
        </div>
        <div class="row border-bottom">
            <div class="col-4 bg-light border-right">
                <p>その他</p>
            </div>
            <div class="col-8">
                <p><%=@gym.others %></p>
            </div>
        </div>
    </div>
</div>
