<%= stylesheet_link_tag "compiled/gyms", :media => "all" %>
<div class="container-fluid">
    <div class="row top-back">
        <div class="col-8">
            <h3 class="gym-name"><span class="border-bottom"><%= @gym.gym_name%></span></h3>
        </div>
        <div class="col-4 pl-0 pt-3">
            <p class="previous-hold-change mb-0 text-center">前回のホールド替え</p>
            <p class="previous-hold-change mb-0 text-center">date of the last change</p>
            <p class="last-hold-change mb-0 text-center">次回のホールド替え</p>
            <p class="last-hold-change text-center">11/29</p>
        </div>
        
    </div>
    <div class="row f_2_info border-top border-bottom border-white bg-light">
        
        <div class="text-center col-5 pr-0 pt-1">
            <p class="mb-0 overall_score">総合評価:4.9点<!--gym.overall_score--></p>
            <p class="mb-0">1位/<!--gym.length-->５０店中</p>
        </div>
        <div class="col-5 text-center pl-0 pt-1">
            <p class="mb-0">ホームジム人数:33<!--home_gym.num.-->人</p>
            <p class="mb-0">固定課題数:96<!--gym.problem_num--></p>
        </div>
        <div class="col-2 text-center p-0 pt-2">
            <p>👍:54<!--gym.problem_num--></p>
        </div>
    </div>
    <!--
    <div class="row f_3_info border-bottom bg-light">
        <div class="col-3 text-center px-0 border-right">
            <p class=""></p>
            <p></p>
        </div>

    </div>
    -->
    <div class="row">
        <div class="col-12">
            <%= link_to("口コミを投稿する", new_gym_post_path(@gym) )%>
        </div>
    </div>

    <div>
        <div class="row">
            <div class="col-8">
                <h1>詳細情報</h1>
            </div>
            <div class="col-4">
                <p><%=link_to("編集する", "/gyms/#{@gym.id}/edit")%></p>
            </div>
        </div>
        <div class="row border-bottom border-top">
            <div class="col-4 bg-light border-right">
                <p>店舗名</p>
            </div>
            <div class="col-8">
                <p><%=@gym.gym_name %></p>
            </div>
        </div>
        <div class="row border-bottom">
            <div class="col-4 bg-light border-right">
                <p>住所</p>
            </div>
            <div class="col-8">
                <p><%=@gym.place %></p>
            </div>
        </div>
        <div class="row border-bottom">
            <div class="col-4 bg-light border-right">
                <p>アクセス</p>
            </div>
            <div class="col-8">
                <p><%=@gym.access %></p>
            </div>
        </div>
        <div class="row border-bottom">
            <div class="col-4 bg-light border-right">
                <p>料金</p>
            </div>
            <div class="col-8">
                <p><%=@gym.admission %></p>
            </div>
        </div>
         <div class="row border-bottom">
            <div class="col-4 bg-light border-right">
                <p>レンタル料金</p>
            </div>
            <div class="col-8">
                <p><%=@gym.rent_fee %></p>
            </div>
        </div>
        
        <div class="row border-bottom">
            <div class="col-4 bg-light border-right">
                <p>営業時間</p>
            </div>
            <div class="col-8">
                <p><%=@gym.open_time %></p>
            </div>
        </div>
        <div class="row border-bottom">
            <div class="col-4 bg-light border-right">
                <p>初心者用ウォールの有無</p>
            </div>
            <div class="col-8">
                <p><%=@gym.begginer_wall %></p>
            </div>
        </div>
    </div>   

    <div>
        <div class="row">
            <div class="col-12">
                <h1>詳細情報</h1>
            </div>
        </div>
        <div class="row border-bottom border-top">
            <div class="col-4 bg-light border-right">
                <p>固定課題数</p>
            </div>
            <div class="col-8">
                <p><%=@gym.problem_num %></p>
            </div>
        </div>
        <div class="row border-bottom">
            <div class="col-4 bg-light border-right">
                <p>壁の枚数</p>
            </div>
            <div class="col-8">
                <p><%=@gym.wall_num %></p>
            </div>
        </div>
        <div class="row border-bottom">
            <div class="col-4 bg-light border-right">
                <p>壁の高さ</p>
            </div>
            <div class="col-8">
                <p><%=@gym.wall_height %></p>
            </div>
        </div>
            <div class="row border-bottom">
            <div class="col-4 bg-light border-right">
                <p>ウィークリー課題の有無について</p>
            </div>
            <div class="col-8">
                <p><%=@gym.weekly_problems %></p>
            </div>
        </div>
        <div class="row border-bottom">
            <div class="col-4 bg-light border-right">
                <p>個別ルール</p>
            </div>
            <div class="col-8">
                <p><%=@gym.rules %></p>
            </div>
        </div>
        <div class="row border-bottom">
            <div class="col-4 bg-light border-right">
                <p>トレーニング器具について</p>
            </div>
            <div class="col-8">
                <p><%=@gym.training_space %></p>
            </div>
        </div>
        <div class="row border-bottom">
            <div class="col-4 bg-light border-right">
                <p>ホールド替えの周期</p>
            </div>
            <div class="col-8">
                <p><%=@gym.frequency_of_change_holds %></p>
            </div>
        </div>
        <div class="row border-bottom">
            <div class="col-4 bg-light border-right">
                <p>物販</p>
            </div>
            <div class="col-8">
                <p><%=@gym.store %></p>
            </div>
        </div>
        
        <div class="row border-bottom">
            <div class="col-4 bg-light border-right">
                <p>free wifi</p>
            </div>
            <div class="col-8">
                <p><%=@gym.free_wifi %></p>
            </div>
        </div>
        <div class="row border-bottom">
            <div class="col-4 bg-light border-right">
                <p>その他</p>
            </div>
            <div class="col-8">
                <p><%=@gym.others %></p>
            </div>
        </div>
        
    </div>






</div>